body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    overflow: hidden;
    /* Evita a barra de rolagem */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #1f1f1f;
    border-radius: 10px;
}

header {
    text-align: center;
    position: relative;
    z-index: 1;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

header h1 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
    font-family: 'Minecraft', sans-serif;
    color: #4CFFFF;
    /* Cor do diamante do Minecraft */
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #bbbbbb;
}

main {
    padding: 20px;
    position: relative;
    z-index: 1;
}

section {
    margin-bottom: 20px;
}

section h2 {
    border-bottom: 2px solid #4CFFFF;
    padding-bottom: 5px;
    font-size: 1.8em;
}

section p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #dddddd;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #2a2a2a;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #333333;
}

ul li a {
    color: #4CFFFF;
    text-decoration: none;
    font-size: 1.1em;
}

ul li a:hover {
    text-decoration: underline;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

.buy-key-button,
.about-devs-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #00eeff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.buy-key-button:hover,
.about-devs-button:hover {
    background-color: #333333;
    box-shadow: 0 4px 12px rgba(0, 212, 250, 0.6);
}

footer {
    background-color: #1f1f1f;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #333;
    margin-top: 20px;
}

footer p {
    margin: 0;
    color: #777777;
}

.diamond {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('https://www.pngkey.com/png/full/51-510502_diamond-pattern-png.png');
    background-size: cover;
    animation: fall linear infinite;
    z-index: 0;
}

@keyframes fall {
    0% {
        top: -100px;
    }

    100% {
        top: 100vh;
    }
}